<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604559940201-oss0uruj41oetr0rbu5t7pjkjov9e9aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604559940201-oss0uruj41oetr0rbu5t7pjkjov9e9aj</string>
	<key>API_KEY</key>
	<string>AIzaSyA0vLgT01RZjMA5n451EKAjtO-0hbIiP0c</string>
	<key>GCM_SENDER_ID</key>
	<string>604559940201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumantech.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-504f2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-504f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604559940201:ios:cf8d1a6e28479f224620f8</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-504f2.firebaseio.com</string>
</dict>
</plist>